body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    height: 100vh;
}
.container {
    
    padding: 20px;
    width: 350px;
    text-align: center;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    
}
.left-section {
    width: 35%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 20px;
}
.right-section {
    background-color: darkgreen;
    width: 65%;
}
.form-group {
    margin-bottom: 15px;
    text-align: left;
}
.form-group label {
    display: block;
    margin-bottom: 5px;
    color: #333;
}
.form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.form-group input:focus {
    border-color: #00A651;
    outline: none;
}
.btn {
    background-color: #00A651;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}
.btn:hover {
    background-color: #007D40;
}
.link {
    display: block;
    margin-top: 15px;
    color: #00A651;
    text-decoration: none;
}
.link:hover {
    text-decoration: underline;
}

h1{
    font-size: 40px;
    padding-top: 180px;
    padding-left: 30px;
    color: white;
}