body {
    display: flex; /* Usar flexbox para layout */
    margin: 0; /* Remove margens padrão */
    height: 100vh;
}

nav.menu-lateral{
    width: 250px;
    height: 100%;
    background-color: darkgreen;
    padding: 40px 0 40px 1%;
    position: fixed;
}

.btn-expandir{
    width: 100%;
    padding-left: 10px;
}

.btn-expandir > i{
    color: #fff;
    font-size: 24px;
    cursor: pointer;
}

ul{
    height: 100%;
    list-style: none;
}

ul li.item-menu a{
    color: white;
    text-decoration: none;
    font-size: 20px;
    padding: 20px 4%;
    display: flex;
    margin-bottom: 20px;
}

ul li.item-menu a .txt-link{
    margin-left: 20px;
}